.make-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*html, body {
    font-family: 'Nunito', sans-serif !important;
    background: #e3e6e8;
}*/

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

/*input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}*/

/* When the input field gets focus, change its width to 100% */
/*input[type=text]:focus {
  width: 100%;
}
*/
/*.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}*/



/*Auto expandable Search bar style*/


/*   body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e74c3c !important;
    }
*/
    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 0px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 250px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }


/* End of Auto expandable Search bar style*/



.navbar_custom {
    background-color: #1292ECFF !important;
    color: #FFFFFF !important;
    font-weight: bold !important;

}

 a.navmenu:link, a.navmenu:visited {
    color: #FFFFFF !important;
}

a.navmenu:active, a.navmenu:hover {
    color: #902E25 !important;
}
a:hover,
a.selected {
    color: #902E25 !important;

;
}

.footer-bottom {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    background: #1292ec;
}

.feature-image {
    max-height: 200px;
    max-width: 200px;
    margin-top: 20px;
    margin-left: 30px;

}

.mt-20 {
    margin-top: 20px;
}

.product-item-bg {
    background: #b3d0e4;
}

.child-rows {
    padding-left: 20px;
    border-left: 1px solid #b3d0e4;

    background: #1292ec;

}

/*.child-rows a.list-group-item {
    border-left: 0px !important;
}*/

.base-color {
    color: #1292ec;
}


/*
 *------- Make Footer persist at bottom even if the page is empty-----
 */


* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
 height: 100%;
 position: relative;
 background: #e3e6e8;
 font-family: 'Nunito', 'Open Sans', sans-serif;
}


.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}


/*
 *------- End of footer persist styling -----
 */


/**
 * change color of selected sub-category menu
 */

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #599ac7;
    border-color: #599ac7;
}

.content-right {
    float: right;
}
